<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Счетчик</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1 id="counter"></h1>
<button id="count-button">Старт</button>
<script>
        $(document).ready(function(){
            $('#count-button').click(function(){
                $.ajax({
                    url: '{% url "count_view" %}',
                    type: 'GET',
                    success: function(response){
                        var counter = response.counter.join(', ');
                        $('#counter').text(counter);
                    }
                });
            });
        });
    </script>
</body>
</html>
