{% load mptt_tags %}

<body>
    <ul>
        {% recursetree genres %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>


<h2>Добавление полей</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Выберите родителя</label><br>
        <div>
            {% for item in genres %}
                <input type="checkbox" name="genres" value="{{item.id}}" /> {{ item.name }} <br />
            {% endfor %}
        </div>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
