{% load static %}

<html>
<head>
  <title>Edit</title>
  <link href="{% static 'css/grid.css' %}" rel="stylesheet">
</head>
<body>
<form method="POST">
  {% csrf_token %}
  <div class="wrapper">
    {% if id == 8 %}
    <div class="box box1">{{item7_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box1">{{item7_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box1">{{item7_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box1">{{item7_7.name}}</div>
    <div class="box box1">{{item7_8.name}}</div>
    <div class="box box1">{{item7_1.name}}</div>
    {% endif %}
    {% if id == 9 %}
    <div class="box box2">{{item8_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box2">{{item8_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box2">{{item8_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box2">{{item8_7.name}}</div>
    <div class="box box2">{{item8_8.name}}</div>
    <div class="box box2">{{item8_1.name}}</div>
    {% endif %}
    {% if id == 2 %}
    <div class="box box3">{{item1_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box3">{{item1_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box3">{{item1_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box3">{{item1_7.name}}</div>
    <div class="box box3">{{item1_8.name}}</div>
    <div class="box box3">{{item1_1.name}}</div>
    {% endif %}
    {% if id == 8 %}
    <div class="box box1">{{item7_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item7_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box1">{{item7_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box1">{{item7_6.name}}</div>
    <div class="box clr">{{item7_0.name}}</div>
    <div class="box box1">{{item7_2.name}}</div>
    {% endif %}
    {% if id == 9 %}
    <div class="box box2">{{item8_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item8_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box2">{{item8_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box2">{{item8_6.name}}</div>
    <div class="box clr">{{item8_0.name}}</div>
    <div class="box box2">{{item8_2.name}}</div>
    {% endif %}
    {% if id == 2 %}
    <div class="box box3">{{item1_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item1_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box3">{{item1_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box3">{{item1_6.name}}</div>
    <div class="box clr">{{item1_0.name}}</div>
    <div class="box box3">{{item1_2.name}}</div>
    {% endif %}
    {% if id == 8 %}
    <div class="box box1">{{item7_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box1">{{item7_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box1">{{item7_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box1">{{item7_5.name}}</div>
    <div class="box box1">{{item7_4.name}}</div>
    <div class="box box1">{{item7_3.name}}</div>
    {% endif %}
    {% if id == 9 %}
    <div class="box box2">{{item8_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box2">{{item8_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box2">{{item8_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box2">{{item8_5.name}}</div>
    <div class="box box2">{{item8_4.name}}</div>
    <div class="box box2">{{item8_3.name}}</div>
    {% endif %}
    {% if id == 2 %}
    <div class="box box3">{{item1_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box3">{{item1_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box3">{{item1_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box3">{{item1_5.name}}</div>
    <div class="box box3">{{item1_4.name}}</div>
    <div class="box box3">{{item1_3.name}}</div>
    {% endif %}
    {% if id == 7 %}
    <div class="box box4">{{item6_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box4">{{item6_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box4">{{item6_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box4">{{item6_7.name}}</div>
    <div class="box box4">{{item6_8.name}}</div>
    <div class="box box4">{{item6_1.name}}</div>
    {% endif %}
    {% if id == 1 %}
    <div class="box mid_clr">{{item0_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box mid_clr">{{item0_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box mid_clr">{{item0_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box mid_clr">{{item0_7.name}}</div>
    <div class="box mid_clr">{{item0_8.name}}</div>
    <div class="box mid_clr">{{item0_1.name}}</div>
    {% endif %}
    {% if id == 3 %}
    <div class="box box6">{{item2_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box6">{{item2_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box6">{{item2_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box6">{{item2_7.name}}</div>
    <div class="box box6">{{item2_8.name}}</div>
    <div class="box box6">{{item2_1.name}}</div>
    {% endif %}
    {% if id == 7 %}
    <div class="box box4">{{item6_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item6_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box4">{{item6_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box4">{{item6_6.name}}</div>
    <div class="box clr">{{item6_0.name}}</div>
    <div class="box box4">{{item6_2.name}}</div>
    {% endif %}
    {% if id == 1 %}
    <div class="box mid_clr">{{item0_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item0_0.name}}
      <input type="text" name="item_0" />
    </div>
    <div class="box mid_clr">{{item0_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box mid_clr">{{item0_6.name}}</div>
    <div class="box clr">{{item0_0.name}}</div>
    <div class="box mid_clr">{{item0_2.name}}</div>
    {% endif %}
    {% if id == 3 %}
    <div class="box box6">{{item2_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item2_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box6">{{item2_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box6">{{item2_6.name}}</div>
    <div class="box clr">{{item2_0.name}}</div>
    <div class="box box6">{{item2_2.name}}</div>
    {% endif %}
    {% if id == 7 %}
    <div class="box box4">{{item6_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box4">{{item6_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box4">{{item6_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box4">{{item6_5.name}}</div>
    <div class="box box4">{{item6_4.name}}</div>
    <div class="box box4">{{gitem6_3.name}}</div>
    {% endif %}
    {% if id == 1 %}
    <div class="box mid_clr">{{item0_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box mid_clr">{{item0_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box mid_clr">{{gitem0_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box mid_clr">{{item0_5.name}}</div>
    <div class="box mid_clr">{{item0_4.name}}</div>
    <div class="box mid_clr">{{item0_3.name}}</div>
    {% endif %}
    {% if id == 3 %}
    <div class="box box6">{{item2_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box6">{{item2_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box6">{{item2_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box6">{{item2_5.name}}</div>
    <div class="box box6">{{item2_4.name}}</div>
    <div class="box box6">{{gitem2_3.name}}</div>
    {% endif %}
    {% if id == 6 %}
    <div class="box box7">{{item5_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box7">{{item5_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box7">{{item5_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box7">{{item5_7.name}}</div>
    <div class="box box7">{{item5_8.name}}</div>
    <div class="box box7">{{item5_1.name}}</div>
    {% endif %}
    {% if id == 5 %}
    <div class="box box8">{{item4_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box8">{{item4_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box8">{{item4_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box8">{{item4_7.name}}</div>
    <div class="box box8">{{item4_8.name}}</div>
    <div class="box box8">{{item4_1.name}}</div>
    {% endif %}
    {% if id == 4 %}
    <div class="box box9">{{item3_7.name}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box9">{{item3_8.name}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box9">{{item3_1.name}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box9">{{item3_7.name}}</div>
    <div class="box box9">{{item3_8.name}}</div>
    <div class="box box9">{{item3_1.name}}</div>
    {% endif %}
    {% if id == 6 %}
    <div class="box box7">{{item5_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item5_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box7">{{item5_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box7">{{item5_6.name}}</div>
    <div class="box clr">{{item5_0.name}}</div>
    <div class="box box7">{{item5_2.name}}</div>
    {% endif %}
    {% if id == 5 %}
    <div class="box box8">{{item4_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item4_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box8">{{item4_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box8">{{item4_6.name}}</div>
    <div class="box clr">{{gitem4_0.name}}</div>
    <div class="box box8">{{item4_2.name}}</div>
    {% endif %}
    {% if id == 4 %}
    <div class="box box9">{{item3_6.name}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{item3_0.name}}
<!--      <input type="text" name="item_0" />-->
    </div>
    <div class="box box9">{{item3_2.name}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box9">{{item3_6.name}}</div>
    <div class="box clr">{{item3_0.name}}</div>
    <div class="box box9">{{item3_2.name}}</div>
    {% endif %}
    {% if id == 6 %}
    <div class="box box7">{{item5_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box7">{{item5_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box7">{{item5_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box7">{{item5_5.name}}</div>
    <div class="box box7">{{item5_4.name}}</div>
    <div class="box box7">{{item5_3.name}}</div>
    {% endif %}
    {% if id == 5 %}
    <div class="box box8">{{item4_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box8">{{item4_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box8">{{item4_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box8">{{item4_5.name}}</div>
    <div class="box box8">{{item4_4.name}}</div>
    <div class="box box8">{{item4_3.name}}</div>
    {% endif %}
    {% if id == 4 %}
    <div class="box box9">{{item3_5.name}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box9">{{item3_4.name}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box9">{{item3_3.name}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box9">{{item3_5.name}}</div>
    <div class="box box9">{{gitem3_4.name}}</div>
    <div class="box box9">{{item3_3.name}}</div>
    {% endif %}
  </div>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>