{% load static %}

<html>
<head>
  <title>Edit</title>
  <link href="{% static 'css/grid.css' %}" rel="stylesheet">
</head>
<body>
<form method="POST">
  {% csrf_token %}
  <div class="wrapper">
    {% if loc_id == 8 %}
    <div class="box box1">{{item7_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item7_7.id}}"/>
    </div>
    <div class="box box1">{{item7_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item7_8.id}}"/>
    </div>
    <div class="box box1">{{item7_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item7_1.id}}"/>
    </div>
    {% else %}
    <div class="box box1">{{item7_7.name}}</div>
    <div class="box box1">{{item7_8.name}}</div>
    <div class="box box1">{{item7_1.name}}</div>
    {% endif %}
    {% if loc_id == 9 %}
    <div class="box box2">{{item8_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item8_7.id}}"/>
    </div>
    <div class="box box2">{{item8_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item8_8.id}}"/>
    </div>
    <div class="box box2">{{item8_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item8_1.id}}"/>
    </div>
    {% else %}
    <div class="box box2">{{item8_7.name}}</div>
    <div class="box box2">{{item8_8.name}}</div>
    <div class="box box2">{{item8_1.name}}</div>
    {% endif %}
    {% if loc_id == 2 %}
    <div class="box box3">{{item1_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item1_7.id}}"/>
    </div>
    <div class="box box3">{{item1_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item1_8.id}}"/>
    </div>
    <div class="box box3">{{item1_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item1_1.id}}"/>
    </div>
    {% else %}
    <div class="box box3">{{item1_7.name}}</div>
    <div class="box box3">{{item1_8.name}}</div>
    <div class="box box3">{{item1_1.name}}</div>
    {% endif %}
    {% if loc_id == 8 %}
    <div class="box box1">{{item7_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item7_6.id}}"/>
    </div>
    <div class="box clr">{{item7_0.name}}
      <input type="text" name="item_0"  />
      <input type='hidden' name="item_0.id" value="{{item7_0.id}}"/>
    </div>
    <div class="box box1">{{item7_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item7_2.id}}"/>
    </div>
    {% else %}
    <div class="box box1">{{item7_6.name}}</div>
    <div class="box clr">{{item7_0.name}}</div>
    <div class="box box1">{{item7_2.name}}</div>
    {% endif %}
    {% if loc_id == 9 %}
    <div class="box box2">{{item8_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item8_6.id}}"/>
    </div>
    <div class="box clr">{{item8_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item8_0.id}}"/>
    </div>
    <div class="box box2">{{item8_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item8_2.id}}"/>
    </div>
    {% else %}
    <div class="box box2">{{item8_6.name}}</div>
    <div class="box clr">{{item8_0.name}}</div>
    <div class="box box2">{{item8_2.name}}</div>
    {% endif %}
    {% if loc_id == 2 %}
    <div class="box box3">{{item1_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item1_6.id}}"/>
    </div>
    <div class="box clr">{{item1_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item1_0.id}}"/>
    </div>
    <div class="box box3">{{item1_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item1_2.id}}"/>
    </div>
    {% else %}
    <div class="box box3">{{item1_6.name}}</div>
    <div class="box clr">{{item1_0.name}}</div>
    <div class="box box3">{{item1_2.name}}</div>
    {% endif %}
    {% if loc_id == 8 %}
    <div class="box box1">{{item7_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item7_5.id}}"/>
    </div>
    <div class="box box1">{{item7_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item7_4.id}}"/>
    </div>
    <div class="box box1">{{item7_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item7_3.id}}"/>
    </div>
    {% else %}
    <div class="box box1">{{item7_5.name}}</div>
    <div class="box box1">{{item7_4.name}}</div>
    <div class="box box1">{{item7_3.name}}</div>
    {% endif %}
    {% if loc_id == 9 %}
    <div class="box box2">{{item8_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item8_5.id}}"/>
    </div>
    <div class="box box2">{{item8_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item8_4.id}}"/>
    </div>
    <div class="box box2">{{item8_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item8_3.id}}"/>
    </div>
    {% else %}
    <div class="box box2">{{item8_5.name}}</div>
    <div class="box box2">{{item8_4.name}}</div>
    <div class="box box2">{{item8_3.name}}</div>
    {% endif %}
    {% if loc_id == 2 %}
    <div class="box box3">{{item1_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item1_5.id}}"/>
    </div>
    <div class="box box3">{{item1_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item1_4.id}}"/>
    </div>
    <div class="box box3">{{item1_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item1_3.id}}"/>
    </div>
    {% else %}
    <div class="box box3">{{item1_5.name}}</div>
    <div class="box box3">{{item1_4.name}}</div>
    <div class="box box3">{{item1_3.name}}</div>
    {% endif %}
    {% if loc_id == 7 %}
    <div class="box box4">{{item6_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item6_7.id}}"/>
    </div>
    <div class="box box4">{{item6_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item6_8.id}}"/>
    </div>
    <div class="box box4">{{item6_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item6_1.id}}"/>
    </div>
    {% else %}
    <div class="box box4">{{item6_7.name}}</div>
    <div class="box box4">{{item6_8.name}}</div>
    <div class="box box4">{{item6_1.name}}</div>
    {% endif %}
    {% if loc_id == 1 %}
    <div class="box mid_clr">{{item0_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item0_7.id}}"/>
    </div>
    <div class="box mid_clr">{{item0_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item0_8.id}}"/>
    </div>
    <div class="box mid_clr">{{item0_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item0_1.id}}"/>
    </div>
    {% else %}
    <div class="box mid_clr">{{item0_7.name}}</div>
    <div class="box mid_clr">{{item0_8.name}}</div>
    <div class="box mid_clr">{{item0_1.name}}</div>
    {% endif %}
    {% if loc_id == 3 %}
    <div class="box box6">{{item2_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item2_7.id}}"/>
    </div>
    <div class="box box6">{{item2_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item2_8.id}}"/>
    </div>
    <div class="box box6">{{item2_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item2_1.id}}"/>
    </div>
    {% else %}
    <div class="box box6">{{item2_7.name}}</div>
    <div class="box box6">{{item2_8.name}}</div>
    <div class="box box6">{{item2_1.name}}</div>
    {% endif %}
    {% if loc_id == 7 %}
    <div class="box box4">{{item6_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item6_6.id}}"/>
    </div>
    <div class="box clr">{{item6_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item6_0.id}}"/>
    </div>
    <div class="box box4">{{item6_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item6_2.id}}"/>
    </div>
    {% else %}
    <div class="box box4">{{item6_6.name}}</div>
    <div class="box clr">{{item6_0.name}}</div>
    <div class="box box4">{{item6_2.name}}</div>
    {% endif %}
    {% if loc_id == 1 %}
    <div class="box mid_clr">{{item0_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item0_6.id}}"/>
    </div>
    <div class="box clr">{{item0_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item0_0.id}}"/>
    </div>
    <div class="box mid_clr">{{item0_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item0_2.id}}"/>
    </div>
    {% else %}
    <div class="box mid_clr">{{item0_6.name}}</div>
    <div class="box clr">{{item0_0.name}}</div>
    <div class="box mid_clr">{{item0_2.name}}</div>
    {% endif %}
    {% if loc_id == 3 %}
    <div class="box box6">{{item2_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item2_6.id}}"/>
    </div>
    <div class="box clr">{{item2_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item2_0.id}}"/>
    </div>
    <div class="box box6">{{item2_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item2_2.id}}"/>
    </div>
    {% else %}
    <div class="box box6">{{item2_6.name}}</div>
    <div class="box clr">{{item2_0.name}}</div>
    <div class="box box6">{{item2_2.name}}</div>
    {% endif %}
    {% if loc_id == 7 %}
    <div class="box box4">{{item6_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item6_5.id}}"/>
    </div>
    <div class="box box4">{{item6_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item6_4.id}}"/>
    </div>
    <div class="box box4">{{item6_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item6_3.id}}"/>
    </div>
    {% else %}
    <div class="box box4">{{item6_5.name}}</div>
    <div class="box box4">{{item6_4.name}}</div>
    <div class="box box4">{{gitem6_3.name}}</div>
    {% endif %}
    {% if loc_id == 1 %}
    <div class="box mid_clr">{{item0_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item0_5.id}}"/>
    </div>
    <div class="box mid_clr">{{item0_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item0_4.id}}"/>
    </div>
    <div class="box mid_clr">{{item0_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item0_3.id}}"/>
    </div>
    {% else %}
    <div class="box mid_clr">{{item0_5.name}}</div>
    <div class="box mid_clr">{{item0_4.name}}</div>
    <div class="box mid_clr">{{item0_3.name}}</div>
    {% endif %}
    {% if loc_id == 3 %}
    <div class="box box6">{{item2_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item2_5.id}}"/>
    </div>
    <div class="box box6">{{item2_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item2_4.id}}"/>
    </div>
    <div class="box box6">{{item2_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item2_3.id}}"/>
    </div>
    {% else %}
    <div class="box box6">{{item2_5.name}}</div>
    <div class="box box6">{{item2_4.name}}</div>
    <div class="box box6">{{gitem2_3.name}}</div>
    {% endif %}
    {% if loc_id == 6 %}
    <div class="box box7">{{item5_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item5_7.id}}"/>
    </div>
    <div class="box box7">{{item5_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item5_8.id}}"/>
    </div>
    <div class="box box7">{{item5_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item5_1.id}}"/>
    </div>
    {% else %}
    <div class="box box7">{{item5_7.name}}</div>
    <div class="box box7">{{item5_8.name}}</div>
    <div class="box box7">{{item5_1.name}}</div>
    {% endif %}
    {% if loc_id == 5 %}
    <div class="box box8">{{item4_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item4_7.id}}"/>
    </div>
    <div class="box box8">{{item4_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item4_8.id}}"/>
    </div>
    <div class="box box8">{{item4_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item4_1.id}}"/>
    </div>
    {% else %}
    <div class="box box8">{{item4_7.name}}</div>
    <div class="box box8">{{item4_8.name}}</div>
    <div class="box box8">{{item4_1.name}}</div>
    {% endif %}
    {% if loc_id == 4 %}
    <div class="box box9">{{item3_7.name}}
      <input type="text" name="item_7" />
      <input type='hidden' name="item_7.id" value="{{item3_7.id}}"/>
    </div>
    <div class="box box9">{{item3_8.name}}
      <input type="text" name="item_8" />
      <input type='hidden' name="item_8.id" value="{{item3_8.id}}"/>
    </div>
    <div class="box box9">{{item3_1.name}}
      <input type="text" name="item_1" />
      <input type='hidden' name="item_1.id" value="{{item3_1.id}}"/>
    </div>
    {% else %}
    <div class="box box9">{{item3_7.name}}</div>
    <div class="box box9">{{item3_8.name}}</div>
    <div class="box box9">{{item3_1.name}}</div>
    {% endif %}
    {% if loc_id == 6 %}
    <div class="box box7">{{item5_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item5_6.id}}"/>
    </div>
    <div class="box clr">{{item5_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item5_0.id}}"/>
    </div>
    <div class="box box7">{{item5_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item5_2.id}}"/>
    </div>
    {% else %}
    <div class="box box7">{{item5_6.name}}</div>
    <div class="box clr">{{item5_0.name}}</div>
    <div class="box box7">{{item5_2.name}}</div>
    {% endif %}
    {% if loc_id == 5 %}
    <div class="box box8">{{item4_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item4_6.id}}"/>
    </div>
    <div class="box clr">{{item4_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item4_0.id}}"/>
    </div>
    <div class="box box8">{{item4_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item4_2.id}}"/>
    </div>
    {% else %}
    <div class="box box8">{{item4_6.name}}</div>
    <div class="box clr">{{gitem4_0.name}}</div>
    <div class="box box8">{{item4_2.name}}</div>
    {% endif %}
    {% if loc_id == 4 %}
    <div class="box box9">{{item3_6.name}}
      <input type="text" name="item_6" />
      <input type='hidden' name="item_6.id" value="{{item3_6.id}}"/>
    </div>
    <div class="box clr">{{item3_0.name}}
      <input type="text" name="item_0" />
      <input type='hidden' name="item_0.id" value="{{item3_0.id}}"/>
    </div>
    <div class="box box9">{{item3_2.name}}
      <input type="text" name="item_2" />
      <input type='hidden' name="item_2.id" value="{{item3_2.id}}"/>
    </div>
    {% else %}
    <div class="box box9">{{item3_6.name}}</div>
    <div class="box clr">{{item3_0.name}}</div>
    <div class="box box9">{{item3_2.name}}</div>
    {% endif %}
    {% if loc_id == 6 %}
    <div class="box box7">{{item5_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item5_5.id}}"/>
    </div>
    <div class="box box7">{{item5_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item5_4.id}}"/>
    </div>
    <div class="box box7">{{item5_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item5_3.id}}"/>
    </div>
    {% else %}
    <div class="box box7">{{item5_5.name}}</div>
    <div class="box box7">{{item5_4.name}}</div>
    <div class="box box7">{{item5_3.name}}</div>
    {% endif %}
    {% if loc_id == 5 %}
    <div class="box box8">{{item4_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item4_5.id}}"/>
    </div>
    <div class="box box8">{{item4_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item4_4.id}}"/>
    </div>
    <div class="box box8">{{item4_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item4_3.id}}"/>
    </div>
    {% else %}
    <div class="box box8">{{item4_5.name}}</div>
    <div class="box box8">{{item4_4.name}}</div>
    <div class="box box8">{{item4_3.name}}</div>
    {% endif %}
    {% if loc_id == 4 %}
    <div class="box box9">{{item3_5.name}}
      <input type="text" name="item_5" />
      <input type='hidden' name="item_5.id" value="{{item3_5.id}}"/>
    </div>
    <div class="box box9">{{item3_4.name}}
      <input type="text" name="item_4" />
      <input type='hidden' name="item_4.id" value="{{item3_4.id}}"/>
    </div>
    <div class="box box9">{{item3_3.name}}
      <input type="text" name="item_3" />
      <input type='hidden' name="item_3.id" value="{{item3_3.id}}"/>
    </div>
    {% else %}
    <div class="box box9">{{item3_5.name}}</div>
    <div class="box box9">{{gitem3_4.name}}</div>
    <div class="box box9">{{item3_3.name}}</div>
    {% endif %}
  </div>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>
