{% load static %}

<html>
<head>
  <title>Edit</title>
  <link href="{% static 'css/grid.css' %}" rel="stylesheet">
</head>
<body>
<form method="POST">
  {% csrf_token %}
  <div class="wrapper">
    {% if id == 8 %}
    <div class="box box1">{{grid_7.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box1">{{grid_7.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box1">{{grid_7.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box1">{{grid_7.item_7}}</div>
    <div class="box box1">{{grid_7.item_8}}</div>
    <div class="box box1">{{grid_7.item_1}}</div>
    {% endif %}
    {% if id == 9 %}
    <div class="box box2">{{grid_8.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box2">{{grid_8.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box2">{{grid_8.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box2">{{grid_8.item_7}}</div>
    <div class="box box2">{{grid_8.item_8}}</div>
    <div class="box box2">{{grid_8.item_1}}</div>
    {% endif %}
    {% if id == 2 %}
    <div class="box box3">{{grid_1.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box3">{{grid_1.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box3">{{grid_1.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box3">{{grid_1.item_7}}</div>
    <div class="box box3">{{grid_1.item_8}}</div>
    <div class="box box3">{{grid_1.item_1}}</div>
    {% endif %}
    {% if id == 8 %}
    <div class="box box1">{{grid_7.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_7.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box1">{{grid_7.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box1">{{grid_7.item_6}}</div>
    <div class="box clr">{{grid_7.item_0}}</div>
    <div class="box box1">{{grid_7.item_2}}</div>
    {% endif %}
    {% if id == 9 %}
    <div class="box box2">{{grid_8.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_8.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box2">{{grid_8.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box2">{{grid_8.item_6}}</div>
    <div class="box clr">{{grid_8.item_0}}</div>
    <div class="box box2">{{grid_8.item_2}}</div>
    {% endif %}
    {% if id == 2 %}
    <div class="box box3">{{grid_1.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_1.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box3">{{grid_1.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box3">{{grid_1.item_6}}</div>
    <div class="box clr">{{grid_1.item_0}}</div>
    <div class="box box3">{{grid_1.item_2}}</div>
    {% endif %}
    {% if id == 8 %}
    <div class="box box1">{{grid_7.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box1">{{grid_7.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box1">{{grid_7.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box1">{{grid_7.item_5}}</div>
    <div class="box box1">{{grid_7.item_4}}</div>
    <div class="box box1">{{grid_7.item_3}}</div>
    {% endif %}
    {% if id == 9 %}
    <div class="box box2">{{grid_8.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box2">{{grid_8.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box2">{{grid_8.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box2">{{grid_8.item_5}}</div>
    <div class="box box2">{{grid_8.item_4}}</div>
    <div class="box box2">{{grid_8.item_3}}</div>
    {% endif %}
    {% if id == 2 %}
    <div class="box box3">{{grid_1.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box3">{{grid_1.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box3">{{grid_1.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box3">{{grid_1.item_5}}</div>
    <div class="box box3">{{grid_1.item_4}}</div>
    <div class="box box3">{{grid_1.item_3}}</div>
    {% endif %}
    {% if id == 7 %}
    <div class="box box4">{{grid_6.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box4">{{grid_6.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box4">{{grid_6.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box4">{{grid_6.item_7}}</div>
    <div class="box box4">{{grid_6.item_8}}</div>
    <div class="box box4">{{grid_6.item_1}}</div>
    {% endif %}
    {% if id == 1 %}
    <div class="box mid_clr">{{grid_0.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box mid_clr">{{grid_0.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box mid_clr">{{grid_0.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box mid_clr">{{grid_0.item_7}}</div>
    <div class="box mid_clr">{{grid_0.item_8}}</div>
    <div class="box mid_clr">{{grid_0.item_1}}</div>
    {% endif %}
    {% if id == 3 %}
    <div class="box box6">{{grid_2.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box6">{{grid_2.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box6">{{grid_2.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box6">{{grid_2.item_7}}</div>
    <div class="box box6">{{grid_2.item_8}}</div>
    <div class="box box6">{{grid_2.item_1}}</div>
    {% endif %}
    {% if id == 7 %}
    <div class="box box4">{{grid_6.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_6.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box4">{{grid_6.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box4">{{grid_6.item_6}}</div>
    <div class="box clr">{{grid_6.item_0}}</div>
    <div class="box box4">{{grid_6.item_2}}</div>
    {% endif %}
    {% if id == 1 %}
    <div class="box mid_clr">{{grid_0.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_0.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box mid_clr">{{grid_0.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box mid_clr">{{grid_0.item_6}}</div>
    <div class="box clr">{{grid_0.item_0}}</div>
    <div class="box mid_clr">{{grid_0.item_2}}</div>
    {% endif %}
    {% if id == 3 %}
    <div class="box box6">{{grid_2.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_2.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box6">{{grid_2.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box6">{{grid_2.item_6}}</div>
    <div class="box clr">{{grid_2.item_0}}</div>
    <div class="box box6">{{grid_2.item_2}}</div>
    {% endif %}
    {% if id == 7 %}
    <div class="box box4">{{grid_6.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box4">{{grid_6.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box4">{{grid_6.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box4">{{grid_6.item_5}}</div>
    <div class="box box4">{{grid_6.item_4}}</div>
    <div class="box box4">{{grid_6.item_3}}</div>
    {% endif %}
    {% if id == 1 %}
    <div class="box mid_clr">{{grid_0.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box mid_clr">{{grid_0.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box mid_clr">{{grid_0.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box mid_clr">{{grid_0.item_5}}</div>
    <div class="box mid_clr">{{grid_0.item_4}}</div>
    <div class="box mid_clr">{{grid_0.item_3}}</div>
    {% endif %}
    {% if id == 3 %}
    <div class="box box6">{{grid_2.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box6">{{grid_2.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box6">{{grid_2.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box6">{{grid_2.item_5}}</div>
    <div class="box box6">{{grid_2.item_4}}</div>
    <div class="box box6">{{grid_2.item_3}}</div>
    {% endif %}
    {% if id == 6 %}
    <div class="box box7">{{grid_5.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box7">{{grid_5.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box7">{{grid_5.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box7">{{grid_5.item_7}}</div>
    <div class="box box7">{{grid_5.item_8}}</div>
    <div class="box box7">{{grid_5.item_1}}</div>
    {% endif %}
    {% if id == 5 %}
    <div class="box box8">{{grid_4.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box8">{{grid_4.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box8">{{grid_4.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box8">{{grid_4.item_7}}</div>
    <div class="box box8">{{grid_4.item_8}}</div>
    <div class="box box8">{{grid_4.item_1}}</div>
    {% endif %}
    {% if id == 4 %}
    <div class="box box9">{{grid_3.item_7}}
      <input type="text" name="item_7" />
    </div>
    <div class="box box9">{{grid_3.item_8}}
      <input type="text" name="item_8" />
    </div>
    <div class="box box9">{{grid_3.item_1}}
      <input type="text" name="item_1" />
    </div>
    {% else %}
    <div class="box box9">{{grid_3.item_7}}</div>
    <div class="box box9">{{grid_3.item_8}}</div>
    <div class="box box9">{{grid_3.item_1}}</div>
    {% endif %}
    {% if id == 6 %}
    <div class="box box7">{{grid_5.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_5.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box7">{{grid_5.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box7">{{grid_5.item_6}}</div>
    <div class="box clr">{{grid_5.item_0}}</div>
    <div class="box box7">{{grid_5.item_2}}</div>
    {% endif %}
    {% if id == 5 %}
    <div class="box box8">{{grid_4.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_4.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box8">{{grid_4.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box8">{{grid_4.item_6}}</div>
    <div class="box clr">{{grid_4.item_0}}</div>
    <div class="box box8">{{grid_4.item_2}}</div>
    {% endif %}
    {% if id == 4 %}
    <div class="box box9">{{grid_3.item_6}}
      <input type="text" name="item_6" />
    </div>
    <div class="box clr">{{grid_3.item_0}}
      <input type="text" name="item_0" />
    </div>
    <div class="box box9">{{grid_3.item_2}}
      <input type="text" name="item_2" />
    </div>
    {% else %}
    <div class="box box9">{{grid_3.item_6}}</div>
    <div class="box clr">{{grid_3.item_0}}</div>
    <div class="box box9">{{grid_3.item_2}}</div>
    {% endif %}
    {% if id == 6 %}
    <div class="box box7">{{grid_5.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box7">{{grid_5.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box7">{{grid_5.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box7">{{grid_5.item_5}}</div>
    <div class="box box7">{{grid_5.item_4}}</div>
    <div class="box box7">{{grid_5.item_3}}</div>
    {% endif %}
    {% if id == 5 %}
    <div class="box box8">{{grid_4.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box8">{{grid_4.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box8">{{grid_4.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box8">{{grid_4.item_5}}</div>
    <div class="box box8">{{grid_4.item_4}}</div>
    <div class="box box8">{{grid_4.item_3}}</div>
    {% endif %}
    {% if id == 4 %}
    <div class="box box9">{{grid_3.item_5}}
      <input type="text" name="item_5" />
    </div>
    <div class="box box9">{{grid_3.item_4}}
      <input type="text" name="item_4" />
    </div>
    <div class="box box9">{{grid_3.item_3}}
      <input type="text" name="item_3" />
    </div>
    {% else %}
    <div class="box box9">{{grid_3.item_5}}</div>
    <div class="box box9">{{grid_3.item_4}}</div>
    <div class="box box9">{{grid_3.item_3}}</div>
    {% endif %}
  </div>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>