{% load mptt_tags %}

<ul>
    {% for item in genres %}
        {% if item.name != '-' %}
            <li>
                {{item.name}}
                {{item.id}}
            </li>
        {% endif %}
    {% endfor %}
</ul>



<a href="/">Главная</a>
<a href="themes">Темы</a>
<a href="create">Добавить</a>
<a href="rename">Переименовать</a>
<a href="delete">Удалить</a>



<!--<ul>-->
<!--    <ul>-->
<!--        {% recursetree genres %}-->
<!--        <li>-->
<!--            {{ node.name }}-->
<!--            {{ node.id }}-->
<!--            {% if not node.is_leaf_node %}-->
<!--            <ul class="children">-->
<!--                {{ children }}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--        </li>-->
<!--        {% endrecursetree %}-->
<!--    </ul>-->
<!--</ul>-->