{% load static %}

<html>
<head>
    <title>Lotos</title>
    <link href="{% static 'css/grid.css' %}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="box box1">{{item7_7}}</div>
    <div class="box box1">{{item7_8}}</div>
    <div class="box box1">{{item7_1}}</div>
    <div class="box box2">{{item8_7}}</div>
    <div class="box box2">{{item8_8}}</div>
    <div class="box box2">{{item8_1}}</div>
    <div class="box box3">{{item1_7}}</div>
    <div class="box box3">{{item1_8}}</div>
    <div class="box box3">{{item1_1}}</div>
    <div class="box box1">{{item7_6}}</div>
    <div class="box clr"><a href="edit/{{8}}">{{item7_0}}</a></div>
    <div class="box box1">{{item7_2}}</div>
    <div class="box box2">{{item8_6}}</div>
    <div class="box clr"><a href="edit/{{9}}">{{item8_0}}</a></div>
    <div class="box box2">{{item8_2}}</div>
    <div class="box box3">{{item1_6}}</div>
    <div class="box clr"><a href="edit/{{2}}">{{item1_0}}</a></div>
    <div class="box box3">{{item1_2}}</div>
    <div class="box box1">{{item7_5}}</div>
    <div class="box box1">{{item7_4}}</div>
    <div class="box box1">{{item7_3}}</div>
    <div class="box box2">{{item8_5}}</div>
    <div class="box box2">{{item8_4}}</div>
    <div class="box box2">{{item8_3}}</div>
    <div class="box box3">{{item1_5}}</div>
    <div class="box box3">{{item1_4}}</div>
    <div class="box box3">{{item1_3}}</div>
    <div class="box box4">{{item6_7}}</div>
    <div class="box box4">{{item6_8}}</div>
    <div class="box box4">{{item6_1}}</div>
    <div class="box mid_clr">{{item0_7}}</div>
    <div class="box mid_clr">{{item0_8}}</div>
    <div class="box mid_clr">{{item0_1}}</div>
    <div class="box box6">{{item2_7}}</div>
    <div class="box box6">{{item2_8}}</div>
    <div class="box box6">{{item2_1}}</div>
    <div class="box box4">{{item6_6}}</div>
    <div class="box clr"><a href="edit/{{7}}">{{item6_0}}</a></div>
    <div class="box box4">{{item6_2}}</div>
    <div class="box mid_clr">{{item0_6}}</div>
    <div class="box clr"><a href="edit/{{1}}">{{item0_0}}</a></div>
    <div class="box mid_clr">{{item0_2}}</div>
    <div class="box box6">{{item2_6}}</div>
    <div class="box clr"><a href="edit/{{3}}">{{item2_0}}</a></div>
    <div class="box box6">{{item2_2}}</div>
    <div class="box box4">{{item6_5}}</div>
    <div class="box box4">{{item6_4}}</div>
    <div class="box box4">{{item6_3}}</div>
    <div class="box mid_clr">{{item0_5}}</div>
    <div class="box mid_clr">{{item0_4}}</div>
    <div class="box mid_clr">{{item0_3}}</div>
    <div class="box box6">{{item2_5}}</div>
    <div class="box box6">{{item2_4}}</div>
    <div class="box box6">{{item2_3}}</div>
    <div class="box box7">{{item5_7}}</div>
    <div class="box box7">{{item5_8}}</div>
    <div class="box box7">{{item5_1}}</div>
    <div class="box box8">{{item4_7}}</div>
    <div class="box box8">{{item4_8}}</div>
    <div class="box box8">{{item4_1}}</div>
    <div class="box box9">{{item3_7}}</div>
    <div class="box box9">{{item3_8}}</div>
    <div class="box box9">{{item3_1}}</div>
    <div class="box box7">{{item5_6}}</div>
    <div class="box clr"><a href="edit/{{6}}">{{item5_0}}</a></div>
    <div class="box box7">{{item5_2}}</div>
    <div class="box box8">{{item4_6}}</div>
    <div class="box clr"><a href="edit/{{5}}">{{item4_0}}</a></div>
    <div class="box box8">{{item4_2}}</div>
    <div class="box box9">{{item3_6}}</div>
    <div class="box clr"><a href="edit/{{4}}">{{item3_0}}</a></div>
    <div class="box box9">{{item3_2}}</div>
    <div class="box box7">{{item5_5}}</div>
    <div class="box box7">{{item5_4}}</div>
    <div class="box box7">{{item5_3}}</div>
    <div class="box box8">{{item4_5}}</div>
    <div class="box box8">{{item4_4}}</div>
    <div class="box box8">{{item4_3}}</div>
    <div class="box box9">{{item3_5}}</div>
    <div class="box box9">{{item3_4}}</div>
    <div class="box box9">{{item3_3}}</div>
</div>
<!--<a href="edit/{{57}}">Изменить</a>-->
<a href="show_genres">Список</a>
</body>
</html>