{% load mptt_tags %}

<body>
<ul>
    {% for item in genres %}
    {% if item.name != '-' %}
    <li>
        {{item.name}}
        {{item.id}}
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h2>Переименование полей</h2>
<form method="POST">
    {% csrf_token %}
    <p>
        <label>Введите новое название</label><br>
        <input type="text" name="new_name" />
    </p>
    <p>
        <label>Выберите поле</label><br>
    <div>
        {% for item in genres %}
        <input type="checkbox" name="item" value="{{item.id}}" /> {{ item.name }} <br />
        {% endfor %}
    </div>
    </p>
    <input type="submit" value="Переименовать" >
</form>
</body>